/app/etc/env.php
/var/*
!/var/.htaccess
/vendor
/.buildpath
/.cache
/.metadata
/.project
/.settings
atlassian*
/.idea
/.gitattributes
/sitemap.xml
/robots.txt
/composer.lock
*.sample
/pub/media/*
!/pub/media/.htaccess
!/pub/media/composer.json
!/pub/media/styles.css
/pub/static/*
!/pub/static/.htaccess
