<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
  <type name="Magento\Checkout\Model\Cart">
    <plugin name="gift_qty_checker" type="VpLab\Checkout\Plugin\GiftQtyCheckerPlugin" sortOrder="1" />
  </type>
  <preference for="Magento\Checkout\CustomerData\Cart" type="VpLab\Checkout\CustomerData\Cart" />
  <preference for="Magento\Quote\Model\Cart\Totals" type="VpLab\Checkout\Model\Cart\Totals" />
  <preference for="Magento\Quote\Model\Quote" type="VpLab\Checkout\Model\Quote" />
  <preference for="Magento\Sales\Model\Order" type="VpLab\Checkout\Model\Order" />
</config>
