<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
  <event name="checkout_submit_before">
    <observer name="round_quote_amounts" instance="VpLab\Checkout\Observer\CheckoutSubmitObserver" />
  </event>
</config>
